
body
{
	background-color:#313b3f;
	color: #9ba5ac;
}

.section_display_mangas
{

	float: left;
  	width: 60%;
  	/*border: 1px solid black;*/
  	
  	font-family: Verdana;
  
}

.section_manage_mangas
{
	margin-left: 65%;
  	border: 2px solid black;
  	padding: 2px;
}

.section_filters
{
	border: 1px solid red;
	margin: 1px;
}

.section_add
{
	border: 1px solid green;
	margin: 1px;
}

.section_remove
{
	border: 1px solid pink;
	margin: 1px;
}

.section_search
{
	border: 1px solid yellow;
	margin: 1px;
}

table
{
	border-collapse: collapse;
}

th
{
	border-bottom : medium solid;
	text-align: left;
	padding: 5px 10px;
}

td {
    border-top: thin solid; 
    border-bottom: thin solid;
	padding: 5px 10px;
}

form
{ 
	display: table;
}

form p, .section_filters p
{
	display: table-row;
}

label, input, select
{
	display: table-cell;
}

a
{
	color: #9ba5ac;
}


